<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/header.css" />
		<style>
			body {
				background-color: #eeeeee;
			}
			
		</style>
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<a href="index.html" id="logo-a">
					<img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=872221839,891776347&fm=179&app=42&f=JPEG?w=55&h=56" class="logo-img" />
					<span class="logo-font">网易云音乐</span>
				</a>
				<ul class="layui-nav layui-layout-left">
				  <li class="layui-nav-item"><a href="">个人中心</a></li>
				</ul>
				<div class="component">
					<input type="text" lay-verify="required" class="layui-input search-key" placeholder="请输入搜索关键字"/>
				</div>
			    <ul class="layui-nav layui-layout-right">
			      	<li class="layui-nav-item" style="margin-right: 500px;">
			        	<a href="javascript:;">登录</a>
			      	</li>
			    </ul>
			</div>
		  
		  	<div class="layui-main">
		  		<div class="layui-fluid">
				    <div class="layui-card">
					    <div class="layui-card-body">
					    	
					    	
					    </div>
				    </div>
				</div>
		  	</div>
		  
		  	<div class="layui-footer" style="left: 0px;text-align: center;border-top: 1px solid black;">
				Copyright © 2018-2019 WayneLee All Rights Reserved 鲁ICP备18043056号-2
		  	</div>
		</div>

		
		<script src="../layuiadmin/layui/layui.js"></script>
		<script>
		  	layui.config({
		    	base: '../layuiadmin/' //静态资源所在路径
		  	}).extend({
		    	index: 'lib/index' //主入口模块
		  	}).use(['index','jquery','form','table'],function(){
		  		var $ = layui.jquery
		  		,form = layui.form
		  		,table = layui.table
		  		,setter = layui.setter
		  		,admin = layui.admin;
		  		
		  		// 添加enter键登录
				$('body').keydown(function (event) {
				    if (event.which == "13") {
				    	var keyword = $(".search-key").val();
				    	console.log(keyword);
				    	if(keyword.trim() == ""){
				    		layer.msg("请输入搜索关键词");
				    	} else {
				    		window.location.href="find/result.html?k="+keyword;
				    	};
				    }
				});
		  		
		  	});
		</script>
	</body>
</html>
